@import '../echo.variables.less';

.mw-echo-notifications-badge {
	display: inline-block;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	top: -1px;

	&:after {
		top: 6px;
		left: 45%;
	}
}
